{% extends "common/user-base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Login</h2>
                <form method="post">
					{% csrf_token %}
                    {% include "common/user-form.html" with form=form %}
                    <div class="form-row bottom">
                    <div class="form-check">
                        <input type="checkbox" id="remenber" name="remenber" value="remenber">
                        <label for="remenber"> Remember me?</label>
                    </div>
					<a href="{% url 'users:password-forgot' %}" class="forgot">Forgot password?</a>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
                <p class="continue"><span>or Login with</span></p>
                <div class="social-login">
                    <a href="{% url 'users:google-login' %}">
                        <div class="google">
                            <span class="fab fa-google" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
    {% include "common/footer.html" %}
</div>
{% endblock %}
