{% extends "common/user-base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Register</h2>
                <form method="post">
					{% csrf_token %}
                    {% include "common/user-form.html" with form=form %}
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </form>
                <p class="continue"><span>or register with</span></p>
                <div class="social-login">
                    <a href="#google">
                        <div class="google">
                            <span class="fab fa-google" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
				<p class="account">Already have an account? <a href="{% url 'users:login' %}">Login</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>
{% endblock %}
