{% extends 'base.html' %}
{% load static %}

{% block title %} RENTER {% endblock %} 

{% block body %}

<a href="javascript:window.history.back();">
    <i style="font-size: 1.5rem; color: grey;" class="fa-solid fa-arrow-left mt-3 mx-3"></i>
</a>

<h1 class="fw-bold text-center m-3">ADD RENTER </h1>



<div class="container mt-5">
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="buildingName" class="form-label">Building </label>
                <select id="buildingName" name="building" class="form-select">
                    {% if room %}
                    	<option value="{{ room.building.id }}" selected>{{ room.building.name }}</option>
                    {% else %}
                        <option value="" disabled selected>Select a building</option>
                    {% endif %}
                    {% for build in buildings %}
                    <option value="{{ build.id }}"> {{ build.name }} </option>
                    {% endfor %}
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="mb-3">
                <label for="buildingName" class="form-label">Add Room </label>
                <input name="name" type="text" class="form-control" id="buildingName" placeholder="Enter Room Name " value="{{ room.name }}">
            </div>
            
            <button type="submit" class="btn btn-primary w-100">ADD</button>
        </form>
    </div>
</div>

{% endblock %}
