{% extends 'base.html' %}
{% load static %}

{% block title %} {{ building.name }} {% endblock %}

{% block body %}

<a href="javascript:window.history.back();">
    <i style="font-size: 1.5rem; color: grey;" class="fa-solid fa-arrow-left mt-3 mx-3"></i>
</a>

<h1 class="fw-bold text-center m-3"> {{ building.name }} </h1>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <a href="{% url 'pending'  %}">
                <button type="button" class="btn btn-primary mx-3">RENT PENDING</button>
            </a>
        </div>
        <div class="col">
            <a href="">
                <button type="button" class="btn btn-primary mx-3">AGREEMENT EXPIRING</button>
            </a>
        </div>
    </div>

    <br>

    <p class="text-" style="font-size: 1.3rem">MONTH TOTAL : 
        <a href="" class="btn btn-outline-danger btn-sm m-2">VIEW</a>
    </p>

    <div class="table-responsive">
        <div class="container mt-">
            <div class="row mb-3">
                <div class="col-md-6 offset-md-3">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search..." />
                </div>
            </div>

            <table class="table table-striped table-borderless">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <h4 class="fw-bold">ROOM NO</h4>
                        </th>
                        <th class="text-" scope="col" colspan="2">
                            <h4 class="fw-bold">RENTER</h4>
                        </th>
                        <th class="text-" scope="col" colspan="2">
                            <h4 class="fw-bold"></h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for renter in renters %}
                    <tr>
                        <th>{{ renter.room }}</th>
                        <td>
                            <span class="fw-bold">{{ renter.name }}</span>
                            <br>
                            <p class="text-">PAID : <span class="fw-bold">{{ renter.paid_amount }}</span> ON <span class="fw-bold">{{ renter.payment_date }}</span></p>
                            <p class="text-">DUE  : <span class="fw-bold">{{ renter.due_amount }}</span></p>
                            <div class="input-group mb-3" style="max-width: 200px;">
                                <a href="{% url 'renter' id=renter.id %}" class="btn btn-outline-primary btn-sm m-2">
                                    VIEW DETAILS
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No renters found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>
        </div>
    </div>
</div>

<script>
  const searchInput = document.getElementById("search");
  const rows = document.querySelectorAll("tbody tr");

  searchInput.addEventListener("keyup", function (event) {
    const query = event.target.value.toLowerCase();

    rows.forEach((row) => {
      const roomNumber = row.querySelector("th").textContent.toLowerCase();
      const renterName = row.querySelector("td span.fw-bold").textContent.toLowerCase();

      if (roomNumber.includes(query) || renterName.includes(query)) {
        row.style.display = "table-row";
      } else {
        row.style.display = "none";
      }
    });
  });
</script>

{% endblock %}
