{% extends 'base.html' %}
{% load static %}

{% block title %}  HOME {% endblock %} 

{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="m-">

  <h1 class="fw-bold text-center m-3">COMPANY NAME</h1>


<div class="container mt-5">
    
<div class="row">
<div class="col">
  <a href="add-building">
    <button type="button" class="btn btn-primary mx-3"> ADD BUILDING</button>
  </a>
</div>
<div class="col">
    <a href="add-room">
      <button type="button" class="btn btn-primary mx-3">ADD ROOM</button>
    </a>
  </div>
  <div class="col">
    <a href="add-renter">
      <button type="button" class="btn btn-primary mx-3">ADD RENTER</button>
    </a>
  </div>

</div>



<br>
                
<p class="text-" style="font-size: 1.3rem">MONTH TOTAL : 0000 <a href="" class="btn btn-outline-danger btn-sm m-2">
  VIEW
</a>
</p>



<div class="container scroll-animation-text my-5">
  <div class="row">
    {% for build in buildings %}
    <div class="col-md-6 col-lg-4 mb-4">
      
      <a href="{% url 'building' id=build.id %}" class="card" style="text-decoration: none;">
        <div class="card-body text-center">
          <i class="fa-solid fa-building" style="color: ; font-size: 3rem;"></i><br><br>
          <h5 class="lead font-italic card-title fw-bold" style="font-size: 1.5rem;"> {{ build.name }} </h5>
          
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">PENDING RENTER :</p>
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">AMOUNT :</p>
      </div>
    </a>

    </div>
    {% endfor %}

    <div class="col-md-6 col-lg-4 mb-4">
     
      <a href="" class="card" style="text-decoration: none;">
        <div class="card-body text-center">
          <i class="fa-solid fa-building" style="color: ; font-size: 3rem;"></i><br><br>
          <h5 class="lead font-italic card-title fw-bold" style="font-size: 1.5rem;">BUILDING NAME</h5>
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">PENDING RENTER :</p>
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">AMOUNT :</p>
      </div>
    </a>
      
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      
      <a href="" class="card" style="text-decoration: none;">
        <div class="card-body text-center">
          <i class="fa-solid fa-building" style="color: ; font-size: 3rem;"></i><br><br>
          <h5 class="lead font-italic card-title fw-bold" style="font-size: 1.5rem;">BUILDING NAME</h5>
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">PENDING RENTER :</p>
          <p class="lead font-italic card-text fw-bold" style="font-size: 1rem;">AMOUNT :</p>
      </div>
      
    </a>
    
    </div>
  </div>
</div>

{% endblock %} 

