{% extends 'base.html' %}
{% load static %}

{% block title %} RENTER {% endblock %}

{% block body %}

    <a href="javascript:window.history.back();">
        <i style="font-size: 1.5rem; color: grey;" class="fa-solid fa-arrow-left mt-3 mx-3"></i>
    </a>

    <h1 class="fw-bold text-center m-3"> {{ renter.room }} </h1>

    <div class="container mt-5">


        <div class="row">
            <div class="col">
                <a href="fam1.html" class="btn btn-outline-success btn-sm m-2" target="_blank">
                    CALL
                </a>
            </div>
            <div class="col">
                <a href="https://wa.me/{{ renter.whatsapp }}" class="btn btn-outline-success btn-sm m-2"
                   target="_blank">
                    WHATSAPP
                </a>
            </div>


        </div>


        <table class="table table- table-borderless">
            <thead class="thead-dark">

            </thead>
            <tbody>


            <tr>

                <td>NAME : </span>

                </td>
                <td class="fw-bold">{{ renter.name }}</td>

                <td></td>
            </tr>

            <tr>

                <td>ADVANCE: </span>

                </td>
                <td class="fw-bold">{{ renter.advance|floatformat:2 }}</td>

                <td></td>
            </tr>

            <tr>

                <td>AGREEMENT DATE :

                </td>
                <td class="fw-bold">{{ renter.agreement_start|date:"Y-m-d" }} - {{ renter.agreement_end|date:"Y-m-d" }}

                </td>

                <td></td>
            </tr>


            </tbody>
        </table>
        <br>


        <div class="table-responsive">

            <table class="table table-striped table-borderless">
                <thead class="thead-dark">

                <th scope="col">
                    <h5 class="fw-bold">DATE</h5>
                </th>
                <th scope="col">
                    <h5 class="fw-bold">AMOUNT</h5>
                </th>
                <th scope="col">
                    <h5 class="fw-bold">VIEW</h5>
                </th>
                </thead>
                <tbody>
                {% for rent in rents %}
                    <tr>
                        <th>{{ rent.date|date:"Y-m-d" }}</th>

                        <td><span class="fw-bold">{{ rent.amount_paid|floatformat:2 }}</span>

                        </td>

                        <td>
                            <div class="input-group mb-3" style="max-width: 200px;">
                                <a href="{% url 'bill' id=rent.id %}" class="btn btn-outline-primary btn-sm m-2">
                                    View
                                </a>
                            </div>
                            <div class="input-group mb-3" style="max-width: 200px; display: ">
                                <a href="{% url 'bill_download' id=rent.id %}" class="btn btn-outline-primary btn-sm m-2">
                                    Download
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>
            <p class="text-">TOTAL : {{ total_rent|floatformat:2 }}</p>

            <p class="text-">DUE : {{ due|floatformat:2 }}</p>

        </div>
    </div>
    </div>

    </div>
    </div>


{% endblock %} 