{% extends 'base.html' %}
{% load static %}

{% block title %} RENTER {% endblock %} 

{% block body %}

<a href="javascript:window.history.back();">
    <i style="font-size: 1.5rem; color: grey;" class="fa-solid fa-arrow-left mt-3 mx-3"></i>
</a>

<h1 class="fw-bold text-center m-3">ROOM NO</h1>

<div class="container mt-5">

                   
<div class="row">
    <div class="col">
        <a href="fam1.html" class="btn btn-outline-success btn-sm m-2">
           CALL
          </a>
    </div>
    <div class="col">
        <a href="fam1.html" class="btn btn-outline-success btn-sm m-2">
            WHATSAPP
          </a>
      </div>
    
    
    </div>
    

<table class="table table- table-borderless">
<thead class="thead-dark">

</thead>
<tbody>

  
  <tr>
  
    <td>NAME : {{ renters.name }}</span>
    
    </td>
    <td></td>

    <td></td>
  </tr>

  <tr>
  
    <td>ADVANCE</span>
    
    </td>
    <td></td>

    <td></td>
  </tr>

  <tr>
  
    <td>AGREEMENT DATE</span>
    
    </td>
    <td></td>

    <td></td>
  </tr>
  
  



</tbody>
</table>
<br>


<div class="table-responsive">

  <table class="table table-striped table-borderless">
    <thead class="thead-dark">

        <th scope="col">

            <h5 class="fw-bold">DATE</h5>

            </th>
            <th scope="col">

                <h5 class="fw-bold">AMOUNT</h5>

                </th>
            <th scope="col">

                <h5 class="fw-bold"> VIEW</h5>

                </th>
            
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <th>00/00/0000</th>
        
        <td><span class="fw-bold">0000</span>
        
        </td>

        <td>NIL</td>
      </tr>
  
    </tbody>
  </table>

<hr>
        <p class="text-">TOTAL : 0000</p>    
        
        <p class="text-">DUE : 0000</p>

  </div>
</div>
</div>

</div>
</div>


{% endblock %} 