{% extends "common/user-base.html" %}
{% block title %} Reset Password {% endblock %}
{% block content %}
<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Password reset Success</h2>
                <a href="{% url 'users:login' %}"><button class="btn btn-primary btn-block">Login</button></a>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>
{% endblock %}
