{% extends "common/user-base.html" %}
{% block title %} Change Password {% endblock %}
{% block content %}
<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Change Password</h2>
                <form method="post">
					{% csrf_token %}
                    {% include "common/user-form.html" with form=form %}
                    <button class="btn btn-primary btn-block" type="submit">Sent email</button>
                </form>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
</div>
{% endblock %}
