{% extends "common/user-base.html" %}
{% block title %} Mail Send {% endblock %}
{% block content %}
<div class="signinform">
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>An Email is sent to your email id - {{ email }} with instructions</h2>
                <a href="{% url 'users:redirect-user' %}"><button class="btn btn-primary btn-block">Go Back</button></a>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <div class="footer">
        <p>&copy; 2020 Service login form. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                target="blank">W3layouts</a></p>
    </div>
    <!-- footer -->
</div>
{% endblock %}
